@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
}

br{
	display: none;
}

p{
	margin: 0;
}

p#title{
	font-weight: bold;
	color: #3E6398;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.textoInformativo{
	display: none;
	margin: 0;
	padding: 0;
}

div.textoBox{
	width: 75%;
	display: block;
	float: none;
	margin: 0 auto;
}

a.link{
	text-decoration: none;
	color: #000;
}

a.link:hover{
	text-decoration: none;
	color: #000;
}

a#linkBotao{
	text-decoration: none;
	color: #fff;
}

a#linkBotao:hover{
	text-decoration: none;
	color: #fff;
}

div.container{
	width:100%;
	height:100px;
	margin:0;
	padding:0;
}

img.imgPrincipal{
	width: 100%;
}

img.imgPrincipal2{
	display: none;
	width: 100%;
}

div.item img.slide3{
	display: none;
}

div.quemSomos{
	width: 100%;
	margin: 0;
	padding: 0;
}

ol#car-img{
	width:50%;
	left:80%;
}

ol.carousel-indicators{
	bottom: -10px;
}

ol.carousel-indicators li{
	width:20px;
	height:20px;
	background-color: transparent;
	border: 4px solid #fff /*#3E6398*/;
}

.carousel-indicators .active {
	width: 20px;
	height: 20px;
	margin-bottom: 2px;
	background-color: #fff/*#3E6398*/;
}

img.seta1 {
	margin-right: -15px;
	margin-top: -15px;
	position: absolute;
	top: 47%;
	left: 19.5%;
	width: 3%;
	cursor: pointer;
}

img.seta2 {
	margin-right: -15px;
	margin-top: -15px;
	position: absolute;
	top: 47%;
	width: 3%;
	right: 19.5%;
	cursor: pointer;
}

div.box{
	width: 52%;
	display: inline-flex;
	margin-left: 24%;
}

div.boxResponsive{
	display: none;
}

div#bloco1, div#bloco2{
	display: inline-flex;
}

div.boxCenter{
	display: block;
	position: relative;
	float: none;
	margin: 0 auto;
	width: 55%;
}

div.icones{
	width: 100%;
	margin: 0;
	padding: 0;
}

div.icons{
	margin-right: 15%;
	width: 100%;
}

div.iconFinal{
	margin-right: 0;
}

img.imgIcons{
	width: 90%;
}

div.divisao1{
	height: 40px;
}

p.title{
	font-size: 15px;
	font-weight: bold;
	margin-top: 25px;
	text-align: center;
	margin-left: -10px;
}

p.titleMaior{
	font-size: 15px;
	font-weight: bold;
	margin-top: 25px;
	text-align: center;
	margin-left: -37px;
	margin-right: -20px;
}

p.info{
	margin-right: -27px;
	text-align: center;
	margin-left: -35px;
	margin-top: 10px;
}

div.texto{
	width: 100%;
}

#myCarousel{
	z-index: 0;
}

div.divisoria{
	height: 100px;
	margin: 0;
	padding: 0;
}
div.tudo{
	display: inline-flex;
}

div.item img.slide2{
	display: none;
	width: 100%;
}

div.item img.slide4{
	display: none;
	width: 100%;
}
/*div.one {
    background-color: #3d567e;
}

div.two {
    
}

div.three {
    
}*/

/*MEDIA0-QUERIES*/

@media all and (max-width: 1290px){
	img.seta1{
		left: 17%;
	}
	img.seta2{
		right: 17%;
	}

	div.box{
		width: 60%;
		margin-left: 21%;
	}
}

@media all and (max-width: 1000px) {
	br{
		display: block;
	}

	img.seta1 {
		width: 5%;
		left: 16%;
	}

	img.seta2 {
		width: 5%;
		right: 16%;
	}

	ol.carousel-indicators li {
		width: 15px;
		height: 15px;
		border: 3px solid #3E6398;
	}

	.carousel-indicators .active {
		width: 15px;
		height: 15px;
		margin-bottom: 2px;
		background-color: #3E6398;
	}

	p.info {
		margin-right: -27px;
		text-align: center;
		margin-left: -48px;
		margin-top: 10px;
		font-size: 12px;
	}

}

@media all and (max-width: 960px){
	div.box {
		width: 65%;
		margin-left: 18%;
	}
}

@media all and (max-width: 875px){
	div.item img.slide1{
		display: none;
	}

	div.item img.slide3{
		display: block;
	}
	div.textoBox {
		width: 64.5%;
	}
	div.textoInformativo{
		display: block;
	}
}

@media all and (max-width: 760px){
        div.item img.slide3{
		display: none;
	}

	div.item img.slide2{
		display: block;
	}
    
	div.box{
		display: none;
	}

	div.boxResponsive{
		display: block;
		width: 100%;
		position: relative;
	}

	div#bloco1{
		width: 50%;
		margin-left: 27.7%;
	}

	div#bloco2{
		width: 50%;
		margin-left: 27.7%;
		padding-top: 5%;
	}

	div.icons {
		margin-right: 34%;
		width: 35%;
	}

	img.imgIcons {
		width: 80%;
	}

	div.iconFinal{
		margin-right: 0;
	}

	p.title{
		margin-left: -30px;
		margin-top: 10px;
	}

	p.titleMaior {
		margin-left: -55px;
		margin-top: 10px;
	}
}


@media all and (max-width: 570px){
	div#bloco1 {
		width: 70%;
		margin-left: 17%;
	}

	div#bloco2 {
		width: 70%;
		margin-left: 17%;
	}

	div.texto{
		width: 100%;
	}

	p.titleMaior{
		margin-left: -43px;
	}

	p.title{
		margin-left: -20px;
	}
}

@media all and (max-width: 540px){
	div.item img.slide1{
		display: none;
	}

	div.item img.slide3{
		display: none;
	}

	div.item img.slide2{
		display: none;
	}
        
        div.item img.slide4{
		display: block;
	}

	img.seta1, img.seta2{
		display: none;
	}

	img.imgPrincipal{
		display: none;
	}

	img.imgPrincipal2{
		display: block;
	}

}

@media all and (max-width: 450px){
	p.title{
		font-size: 14px;
	}

	p.titleMaior{
		font-size: 14px;
	}
}

@media all and (max-width: 395px){
	p.title{
		font-size: 13px;
	}

	p.titleMaior{
		font-size: 13px;
	}
}


