*{
    margin:0;
    padding:0;
}

button.btnCliente{
    color: #fff;
    background-color: #3E6398;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    margin-top: 7%;
    margin-bottom: 2%;
}

button.btnCliente2 {
    color: #fff;
    background-color: #3E6398;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-top: -1%;
    margin-bottom: -3%;
    margin-right: -7%;
}

div.botao{
    float: right;
    width: 29.5%;
}

div.botao2{
    display: none;
}

div.box2{
    display: inline-flex;
    margin: 0 auto;
    width: 61%;
}

img#logo{
    width: 220px;
}

div.imgCenter{
    width: 51%;
    margin-left: 3%;
}

img#logoResponsive{
    width: 40%;
    position: relative;
    margin: 0 auto;
    padding-top: 2.5%;
    display: none;
}

div.logo{
    padding-top: 1%;
    width: 33%;
    margin-right: -20%;
    margin-left: 3%;
}

div.barraSuperior{
    background-color:#f3f3f3;
    position: relative;
}

div.barraInferior{
    display: inline-flex;
    position: relative;
}

div.menu{
    padding-top: 3%;
    width: 100%;
    height: 107px;
}

ul.nav{
    float: right;
}

span.glyphicon-user{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 100%;
}

div#box {
    z-index: 99999;
}

#nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 25px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 200ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

div#menuToggle{
    display: none;
}

li.menu{
    list-style: none;
}

/*---------------------------------*/

.entire-menu {
    position: absolute;
    width: 80%;
}

.hamburguer:hover{
    opacity: 0.9;
}

.hamburguer {
    width: 25px;
    height: 19px;
    display: block;
    position: relative;
    background: none;
    margin: 0 0 10px 0;
    z-index: 999;
}
.hamburguer:after, .hamburguer:before, .hamburguer span, .hamburguer label {
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    left: 0;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.hamburguer:before {
    top: 8px;
}
.hamburguer:after {
    bottom: 0;
}
.hamburguer:focus {
    outline: none;
}
.hamburguer label {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    z-index: 1000;
}
.hamburguer span {
    top: 8px;
}

#change-hamburguer {
    display: none;
}
#change-hamburguer:checked ~ .hamburguer:before, #change-hamburguer:checked ~ .hamburguer:after {
    top: 10px;
}
#change-hamburguer:checked ~ .hamburguer:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#change-hamburguer:checked ~ .hamburguer:after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#change-hamburguer:checked ~ .hamburguer span {
    opacity: 0;
}
#change-hamburguer:checked ~ .menu2 {
    max-height: 100%;
}
.menu2 {
    max-height: 0;
    background: #3E6398;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    overflow-y: hidden;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    z-index:11;
    width:100%;
    height:100%;
    opacity: .90;
    filter: alpha(opacity=65);
}
.menu2 a {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    display: block;
}
.menu2 a:hover {
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

hr{
    margin-top: 10px;
    margin-bottom: 25px;
    opacity: 0.7;
}

div#links{
    width: 65%;
    display: block;
    position: relative;
    float: none;
    padding-left: 10%;
    padding-top: 8%;
}

a#link1{
    margin-top: 10%;
}

div.fixo {
    position: fixed;
    background-color: white;
    z-index: 1000;
    top: 0;
    display: inline-flex;
    margin: 0 auto;
    width: 61%;
    right: 30.5%;
    left: 19.5%;
}

div.divisao {
    position: relative;
    height: 107px;
    visibility: hidden;
    display: none;
}

/*---------------------------------*/


/*MEDIA QUERIES*/

@media all and (max-width: 1795px){
    div.menu{
        margin-right: -1.5%;
    }
}

@media all and (max-width: 1620px){
    div.menu{
        margin-right: -2.5%;
    }
}

@media all and (max-width: 1490px){
    div.menu{
        margin-right: -4.5%;
    }
}

@media all and (max-width: 1380px){
    div.menu{
        margin-right: -6.5%;
    }
}

@media all and (max-width: 1290px){
    div.menu{
        margin-right: -11.5%;
    }

    div.botao{
        width: 27.5%;
    }

    div.logo{
        margin-left: -8%;
        width: 40%;
    }

}

@media all and (max-width: 1200px) {
    div.barraSuperior {
        width: 100%;
        float: left;

    }

    div.barraInferior{
        width: 100%;
    }

    div.box2{
        width: 85%;
    }

    div.logo{
        margin-left: 0;
    }

    div.menu{
        margin-right: 0;
    }

    div.botao{
        width: 23.5%;
    }
}

@media all and (max-width: 1060px){
    div.menu{
        margin-right: -2.5%;
    }
}

@media all and (max-width: 1000px) {
    div.barraSuperior {
        background-color: #fff;
        padding-top: 30px;
    }

    img#logoResponsive {
        display: block;
        width: 197px;
    }

    div.logoResponsive{
        width: 40%;
    }

    div.logo {
        display: none;
    }

    div.barraInferior {
        padding: 0;
    }

    li#liMenu{
        padding: 0 10px;
    }

    ul.nav{
        width: 70%;
        position: relative;
        display: block;
        float: none;
        left: 17%;
    }

    div.box2{
        width: 100%;
        padding: 0;
    }

    div.imgCenter {
        width: 100%;
        margin-left: 20%;
    }

    div.botao{
        margin-right: 12.5%;
    }
}

@media all and (max-width: 910px){
    ul.nav{
        width: 75%;
        left: 16%;
    }

    li#liMenu{
        padding: 0 7px;
    }
}

@media all and (max-width: 850px){
    ul.nav{
        width: 75%;
        left: 15%;
    }

    li#liMenu{
        padding: 0 5px;
    }
}

@media all and (max-width: 790px){
    div.menu{
        display: none;
    }
    div#menuToggle{
        width: 100%;
        display: block;
        position: relative;
        height: 50px;
        background-color: #3E6398;
        color: #fff;
        z-index: 999;
        padding: 12px 35px 30px 15px;
    }

    div.box2{
        position: absolute;
    }

    .menu2{
        margin-top: -6.6%;
        margin-left: -2.4%;
    }
}

@media all and (max-width: 730px){
    .menu2{
        margin-top: -6.9%;
        margin-left: -2.9%;
    }
}

@media all and (max-width: 635px){
    .menu2{
        margin-top: -8%;
        margin-left: -3%;
    }
}

@media all and (max-width: 595px){
    .menu2{
        margin-top: -8.9%;
        margin-left: -3.2%;
    }
}

@media all and (max-width: 565px){
    .menu2{
        margin-top: -7.9%;
        margin-left: -2.9%;
    }

    div#links{
        padding-top: 10%;
    }
}


@media all and (max-width: 564px){
    .menu2{
        margin-top: -8.9%;
        margin-left: -3.3%;
    }
}

@media all and (max-width: 540px){
    div.botao{
        display: none;
    }

    div.botao2{
        display: block;
    }

    div.logoResponsive{
        width: 100%;
    }

    div.imgCenter{
        margin-left: 0;
    }

    img#logoResponsive{
        width: auto;
    }
}

@media all and (max-width: 475px){
    .menu2{
        margin-top: -10.9%;
        margin-left: -4%;
    }
}

@media all and (max-width: 420px){
    div#menuToggle{
        padding: 9px 35px 25px 15px;
    }

    button.btnCliente2{
        margin-top: -0.5%;
        margin-bottom: -4%;
    }

    div.barraSuperior{
        padding-top: 10px;
    }

    div#links{
        padding-top: 14%;
        padding-left: 12%;
    }
}


@media all and (max-width: 411px){
    .menu2{
        margin-top: -11.8%;
        margin-left: -5%;
    }

    a#link1{
        margin-top: 20%;
    }

    div#links{
        padding-top: 5%;
    }
}

@media all and (max-width: 380px) {
    .menu2 {
        margin-top: -12.7%;
        margin-left: -5.2%
    }
}

@media all and (max-width: 370px){
    .menu2{
        margin-top: -13.5%;
        margin-left: -5.5%;
    }

    a#link1{
        margin-top: 20%;
    }
}


@media all and (max-width: 315px){
    .menu2{
        margin-top: -15.5%;
        margin-left: -6.5%;
    }
}
